body {
    font-family: Cambria, Georgia;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 22px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

.header-container, .main-container, .footer-container {
    width: 90%;
    margin: 0 auto;
}

.main-container {
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.main-container .resource, .main-container h3 {
    padding: 16px 23px;
}

.main-container h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #373E41;
    font-size: 20px;
    font-weight: bold;
    background-color: #ECEFF1;
}

.main-container h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.main-container p {
    margin: 0;
    padding: 10px;
}

.change-for-a-cause-header {
  background: powderblue;
  margin: 0px;
  margin-bottom: 20px;
  padding: 20px;
}

.pledgeName {
  font-weight: bold;
}

.pledgesList {
  list-style: none;
}

.activityName {
  font-weight: bold;
}

.activitiesList {
  list-style: none;
}

.buttonDiv {
  text-align: center;
  padding-bottom: 10px;
}

.row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.column
{
    display: table-cell;
    text-align: center;
    width: 100%;
}
.column h3 {
  margin-top: 5px;
}

.feature {
  cursor: pointer;
}

.feature-icon {
  max-width: 150px;
}

.main-tab:before{
  margin:3em;
  width:0; /*set dimensions of DIV to 0 so its borders collapse and touch one
  another*/
  height:0;
  border-color: transparent transparent gray transparent; /*top, right, bottom, and left border*/
  border-style: solid;
  border-width: 50px; /*width of each border*/
}

.uparrowdiv, .uparrowdiv-center, .uparrowdiv-left, .uparrowdiv-right {
  min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
  position:relative;
  word-wrap:break-word;
  -moz-border-radius:5px; /*add some nice CSS3 round corners*/
  -webkit-border-radius:5px;
  border-radius:5px;
  margin-bottom:2em;
}

.uparrowdiv:after { /*arrow added to uparrowdiv DIV*/
  content:'';
  display:block;
  position:absolute;
  top:-20px; /*should be set to -border-width x 2 */
  left:47%;
  width:0;
  height:0;
  border-color: transparent transparent #ECEFF1 transparent; /*border color should be same as div div background color*/
  border-style: solid;
  border-width: 10px;
}

.uparrowdiv-right:after {
  left:83%;
}

.uparrowdiv-center:after {
  left:47%;
}

.uparrowdiv-left:after {
  left:10%;
}
