<div class="row">
  <div class="column feature" (click)="openProfile()">
    <img class="feature-icon" src="src/images/user-icon-round.png" />
    <h3>Profile</h3>
  </div>
  <div class="column feature" (click)="openPledges()">
    <img class="feature-icon" src="src/images/user-icon-round.png" />
    <h3>Pledges</h3>
  </div>
  <div class="column feature" (click)="openActivities()">
    <img class="feature-icon" src="src/images/user-icon-round.png" />
    <h3>Activities</h3>
  </div>
</div>

<profile *ngIf="showProfile"></profile>
<pledges *ngIf="showPledges"></pledges>
<activity *ngIf="showActivities"></activity>



<div class="main-container">
  <h3>Amount So Far</h3>
  <p>
    I've saved {{amountSavedSoFar | currency:'USD':true:'1.2-2'}}!
  </p>
</div>

<div>
  This is some member info
</div>
