<div class="main-container">
    <!-- <h3>Overview</h3>
    <div class="resource">
        <h4>My Changes</h4>
        <p>These are the things I've decided to do</p>
    </div>

    <div class="resource">
        <h4>Suggestions</h4>
        <p>These are some other ideas</p>
    </div> -->
  <h3>My Pledges</h3>
  <p>
    These are my pledges
  </p>
  <button>New Pledge</button>
</div>

<div class="main-container">
  <h3>My Activities</h3>
  <p>
    These are my activities
  </p>
  <button>New Activity</button>
</div>

<div class="main-container">
  <h3>Amount So Far</h3>
  <p>
    I've saved $5.50!
  </p>
</div>
