<div class="main-container">
    <!-- <h3>Overview</h3>
    <div class="resource">
        <h4>My Changes</h4>
        <p>These are the things I've decided to do</p>
    </div>

    <div class="resource">
        <h4>Suggestions</h4>
        <p>These are some other ideas</p>
    </div> -->
  <h3>My Pledges</h3>
  <ul class="pledges">
      <li *ngFor="let pledge of pledges" class="pledgesList">
        <span class="pledgeName">{{pledge.pledgeName}}</span>
        <p>
          I pledge to do this {{pledge.pledgeUnits}} times between
          {{pledge.pledgeStartDate | date: 'MM/dd/yyyy'}} and {{pledge.pledgeEndDate | date: 'MM/dd/yyyy'}}
        </p>
      </li>
    </ul>
    <div class="buttonDiv">
      <button>New Pledge</button>
    </div>

</div>

<div class="main-container">
  <h3>My Activities</h3>
  <ul class="activities">
    <li *ngFor="let activity of activities" class="activitiesList">
      <span class="activityName">{{activity.activityName}}</span>
      <p>
        {{activity.activityDescription}}
      </p>
    </li>
  </ul>
  <div class="buttonDiv">
    <button>New Activity</button>
  </div>
</div>

<div class="main-container">
  <h3>Amount So Far</h3>
  <p>
    I've saved {{amountSavedSoFar | currency:'USD':true:'1.2-2'}}!
  </p>
</div>
